@use "../../../../../public/styles/variables" as variable;

header {
  padding-top: 15px;
  .row{
    padding: 8px 15px;
    overflow: hidden;
    border: 1px solid variable.$gray1;
    background: variable.$text-white;
    border-radius: variable.$border-radius;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {}
    .action {
      display: flex;
      svg-icon{
        width: 24px;
        height: 24px;
        color: red;
        svg{
          width: 24px;
          height: 24px;

        }
      }
    }
  }

}
