$fontFamily: 'Estedad-Medium', serif;
$fontFamilyBold: 'Estedad-Bold', serif;

// colors
$color1: #003060;
$color2: #055C9D;
$color3: #0E86D4;
$color4: #68BBE3;
$gray1: #ccc;
$text-white: #fff;

$bg: #f6f7f8;
// colors
// border radius
$border-radius: 8px;

// border radius
