@use '../public/styles/fonts';
@use '../public/styles/reset';
@use '../public/styles/variables' as variable;
@use '../public/styles/classes';

body, html {
  font-family: variable.$fontFamily;
  min-height: 100vh;
  overflow-x: hidden;
  background: variable.$bg;
}
