<section class="cryptocurrency-prices">
  <div class="container">
    <h2 class="title">قیمت لحظه‌ای ارزهای دیجیتال</h2>
    <div class="header">
      <button class="button small">قیمت لحظه‌ای همه‌ی رمزارزها</button>
      <div class="type">
        <label class="switch">
          <span>تومان</span>
          <input type="checkbox" />
          <span class="slider"></span>
          <span>تتر</span>
        </label>
      </div>
    </div>
    <div class="main">


      <table class="eael-data-table">
        <thead>
          <tr>
            <th>نام</th>
            <th>آخرین قیمت (تومان)	</th>
            <th>تغییر 24h	</th>
            <th>نمودار هفتگی	</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>بیت‌کوین</td>
            <td>8,735,025,105
              IRT</td>
            <td>+2.34%
            </td>
            <td>Custom</td>
            <td>Custom</td>
          </tr>
          <tr>
            <td>بیت‌کوین</td>
            <td>8,735,025,105
              IRT</td>
            <td>+2.34%
            </td>
            <td>Custom</td>
            <td>Custom</td>
          </tr>
          <tr>
            <td>بیت‌کوین</td>
            <td>8,735,025,105
              IRT</td>
            <td>+2.34%
            </td>
            <td>Custom</td>
            <td>Custom</td>
          </tr>
          <tr>
            <td>بیت‌کوین</td>
            <td>8,735,025,105
              IRT</td>
            <td>+2.34%
            </td>
            <td>Custom</td>
            <td>Custom</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</section>
